/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* Global Styles */

/* CSS Variables */

:root {
    --primary-font: 'Roboto serif', serif;
    --secondary-font: 'Quicksand', sans-serif;
    --primary-color: #b3ccff;
    --secondary-color: #262626;
    --highlight-color: #0044cc;
}

body {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding-top: 56px;
}

h1, h2, h3 {
    font-family: var(--primary-font);
}


h1 {
    margin-top: 50px;
}

/* Body */

header {
    margin-bottom: 20px;
}

#hero-img {
    display: block;
    margin: auto;
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
    padding-bottom: 10px;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.social-links a {
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--highlight-color);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body a {
  text-decoration: none;
  color: var(--highlight-color);
  font-weight: 600;
}

.card-body a.card-link {
    margin-top: auto; /* pushes link to bottom */
}

.card-body a.card-link:hover {
  color: var(--primary-color);
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .card-img-top {
    height: 180px;
  }
}


@media screen and (min-width: 1200px) {
  section {
    margin-top: 4rem;
  }

}